/* Your CSS Code here. */
.items{
	width: 200px;
	height: 200px;
	background-color: blue;
	
}
.holder{
	display: flex;
	justify-content: spaced-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}